<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<p><%= link_to "編集", [:edit, @user ] %></p>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="userprofile">
            <tr>
                <th>名前</th>
                <td ><%= @user.name %></td>
            </tr>
            <tr>
                <th>ニックネーム</th>
                <td><%= @user.nickname %></td>
            </tr>
            <tr>
                <th>性別</th>
                <td><%= @user.gender == 1 ? "男" : "女" %></td>
            </tr>
            <tr>
                <th>誕生日</th>
                <td><%= @user.birthday %></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <th>自己紹介</th>
                <td><%= @user.description %></td>
            </tr>
                
        </table>
    </div>
</div>