<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>

  </div>
</div>


<div class="row">
    <div class="col-md-4">
        <table class="userprofile">
            <tr>
                <th>名前</th>
                <td ><%= @user.name %></td>
            </tr>
            <tr>
                <th>ニックネーム</th>
                <td><%= @user.nickname %></td>
            </tr>
            <tr>
                <th>性別</th>
                <td><%= @user.gender == 1 ? "男" : "女" %></td>
            </tr>
            <tr>
                <th>誕生日</th>
                <td><%= @user.birthday %></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <th>自己紹介</th>
                <td><%= @user.description %></td>
            </tr>
                
        </table>
    </div>
    <div class="col-md-8">
        <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
    </div>
</div>

